body {
  background-color: rgb(164, 232, 232);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0%;
}

h1 {
  color: rgb(2, 0, 38);
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: auto;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 255, 0, 0.6),
    /* yellow com 60% opacidade */ rgba(0, 128, 0, 0.6),
    /* green translúcido */ rgba(0, 0, 255, 0.6) /* blue translúcido */
  );
}
.titulo {
  display: flex; /* transforma a div em um contêiner flexível */
  justify-content: center; /* centraliza horizontalmente */
  align-items: flex-start; /* alinha no topo (ou use center pra meio da tela) */
  height: 100vh; /* ocupa a altura total da tela */
  padding-top: 20px; /* empurra um pouco pra baixo do topo */
}
